@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand/Quicksand-VariableFont_wght') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-family: 'AccordAlterate';
    src: url('./fonts/Quicksand/AccordAlternate-Bold') format('truetype');
    font-weight: normal;
    font-style: normal;
  }